<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Food Bar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/home" routerActive="active"> Home</a>
        <a class="nav-item nav-link" routerLink="/about" routerActive="active">About</a>
        <a class="nav-item nav-link" routerLink="/menu" routerActive="active">Menu</a>
        <a class="nav-item nav-link " routerLink="/contact" routerActive="active">Contact</a>
        <a class="nav-item nav-link" routerLink="/login" (click)="openLogin()" >Login</a>
      </div>
    </div>
  </nav>

 